#heading {
    text-align: center;
}
.v{
    background-color: rgba(246, 173, 3, 0.89);
}

.card {

    background: transparent;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    height: 340px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    padding-top: 30px;
    display: inline-block;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
    background-color: rgb(216, 221, 225);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 60px;
    box-shadow: 0px 0px 20px 3px rgb(179, 171, 171)
    
}
 .card:hover{
    box-shadow: 0px 0px 20px 3px rgb(19, 13, 13);

 }

.img {
    width: 100px;
    box-shadow: 0 0 4px 3px rgba(95, 94, 94, 0.767);
    padding: 10px;
}

.name {
    font-size: 25px;

}
.top-btn{
    background-color: rgb(221, 220, 217);
    color:#01327c;
    position:relative;
   
    bottom: 20px;
    left: 600px;
    border: 10px;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.top-btn:hover{
    box-shadow: 0 0 3px 2px rgb(92, 89, 89);
    cursor: pointer;
}

